name: CD
on:
    push:
        branches:
            - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref}}

  cancel-in-progress: true

jobs:
    create-version-pr-or-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Node Environment
              uses: actions/setup-node@v4
              with:
                node-version: 18
                cache: npm
            - name: Install Dependencies
              run: npm ci
            - name: create version PR or GitHub release
              id: changesets
              uses: changesets/action@v1
              with:
                publish: npx changest tag
              env:
                GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}
            - run: echo "${{ toJson(steps.changesets)}}"