name: Deploy to aws
on:
  workflow_dispatch:
    inputs:
      aws-env:
        description: 'AWSEnvironment'
        required: true
        default: 'gha-course-staging'
        type: string
      github-env:
        description: 'GithubEnvironment'
        required: true
        default: 'staging'
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref}}-${{ inputs.aws-env }}-${{ inputs.github-env }}

  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.github-env }}
      url: "http://${{ steps.get-env-cname.outputs.aws_env_cname }}"
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Avoid deploying to prodction using a non production environment
        if: inputs.aws-env == vars.AWS_EB_PRODUCTION_ENV && inputs.github-env != 'production'
        run: |
          echo "::error::Cannot deploy to production using a non production environment"
          exit 1
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node Environment
        uses: actions/setup-node@v4
        with:
            node-version: 18
            cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Build project
        run: npm run build
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip
      - name: install EB CLI
        id: install-eb-cli
        run: pip install awsebcli
      - name: Get AWS ENV Name
        id: get-env-name
        run: echo "aws_env=$(aws elasticbeanstalk describe-environments --application-name ${{vars.AWS_EB_APP_NAME}} --environment-names ${{ inputs.aws-env}} --query "Environments[0].EnvironmentName" --output text)" >> $GITHUB_OUTPUT
      - name: Get AWS ENV Status
        id: get-env-status
        run: echo "aws_env=$(aws elasticbeanstalk describe-environments --application-name ${{vars.AWS_EB_APP_NAME}} --environment-names ${{ inputs.aws-env}} --query "Environments[0].Status" --output text)" >> $GITHUB_OUTPUT
      - name: Install EB
        run: eb init "${{vars.AWS_EB_APP_NAME}}" --platform "${{vars.AWS_EB_PLATFORM}}" --region ${{vars.AWS_REGION}}
      - name: Create a new Elastic Beanstalk environment
        if: steps.get-env-status.outputs.aws_env == 'None' || steps.get-env-status.outputs.aws_env == 'Terminated'
        run: eb create ${{ inputs.aws-env }} --instance-types ${{vars.AWS_EB_ENV_INSTANCE_TYPES}} --cname ${{ inputs.aws-env }} --envvars FLAGSMITH_KEY=${{ secrets.FLAGSMITH_KEY }}
      - name : deploy if environment exists
        if: steps.get-env-status.outputs.aws_env == inputs.aws-env && steps.get-env-status.outputs.aws_env != 'Terminated'
        run: eb deploy ${{ inputs.aws-env }}
      - name: Get AWS ENV CNAME
        id: get-env-cname
        run: echo "aws_env_cname=$(aws elasticbeanstalk describe-environments --application-name ${{vars.AWS_EB_APP_NAME}} --environment-names ${{ inputs.aws-env}} --query "Environments[0].CNAME" --output text)" >> $GITHUB_OUTPUT
      - name: Abort if canceled
        if: cancelled() && steps.install-eb-cli.conclusion == 'success'
        run: exit 1