name: docker
on:
 push:
    branches:
        - main
 pull_request:
    branches:   
        - main

jobs:
    docker:
      runs-on: ubuntu-latest
      container: node:25-alpine3.21
      steps:
        - name: log node & os versoin
          run: |
            node -v
            cat /etc/os-release
