name: expressions and context
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
  issues:   
    #types: [opened, closed, reopened, labeled]
  

jobs:
  expressions-and-context-job:
    runs-on: ubuntu-latest
    if: contains(fromJson('["issues","pull_request","push"]'), github.event_name)
    steps:
      - name: Run only if event is issues and has 'bug' label
        if: contains(github.event.issue.labels.*.name, 'bug')
        run: echo "${{ join(github.event.issue.labels.*.name, ', ') }}"
  
  using-expressions-and-context:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Display some context and expressions
        run: |
          echo "Repository: ${{ github.repository }}"
          echo "Event Name: ${{ github.event_name }}"
          echo "Actor: ${{ github.actor }}"
          echo "Commit SHA: ${{ github.sha }}"
          echo "Ref: ${{ github.ref }}"
          echo "Is main branch: ${{ github.ref == 'refs/heads/main' }}"
          echo "Current date: ${{ github.event.head_commit.timestamp }}"
          echo '${{ toJson(github) }}'
          echo '${{ toJson(job) }}'
          echo '${{ toJson(secrets) }}'
          echo '${{ toJson(steps) }}'
          echo '${{ toJson(runner) }}'