name: matrix workflow
on:
  push:
    branches:
      - main    
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
jobs:
  node-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 15, 16]
    steps:
      - run: node -v
      - uses: actions/setuo-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: node -v