name: Using workflow templates
on:
 workflow_dispatch:
  inputs:
    name:
      description: 'Input description'
      type: string
      default: 'Ali'
      required: false


jobs:
 calling-reusable-workflow:
   uses: dragan-actions-course/workflows/.github/workflows/reusable.yaml@main
   with:
    name: ${{inputs.name}}
   secrets:
    access-token: ${{secrets.ACCESS_TOKEN}}