name: Test
on:
  workflow_call:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Node Environment
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: npm
            - name: Install Dependencies
              run: npm ci
            - name: Check for Linting Errors
              run: npm run format:fix
            - name: Check for ESlint Errors
              run: npm run lint
            - name: Check for Type Errors
              run: npm run typecheck
            - name: Run Tests
              run: npm run test
            - name: Build project
              run: npm run build
              if: always()
            - uses: actions/upload-artifact@v4
              with:
                  name: build
                  path: .next/
            - name: Run unit tests
              run: npm run test
            - uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: coverage
                  path: coverage/
            - name: Install Playwright browser
              run: npx playwright install --with-deps
            - name: Run E2E tests
              run: npm run test:e2e
            - uses: actions/upload-artifact@v4
              if: always()    
              with:
                  name: playwright-report
                  path: playwright-report/